body {
    background-color: #f8f9fb;
    overflow-x:hidden;
}

.row-margin {
    margin: 0px !important;
}

.text {
    font-family: Verdana;
    font-size: 18px;
}

.text-info-block {
    font-family: Georgia;
    font-size: 18px;
}

.box-info-block {
    margin: 20px;
}